body{
  margin: 0;
  text-align: center;
  font-family: sans-serif;

}
.top-container {
  background-color: lightblue;
  padding-top: 5%
  position:relative;

}
h1{
  width: 10%
  margin 0 auto;
}
.bottom.cloud{
  position: absolute;
  left: 35%;
  top: 35%;

}
